.information-page-content
  .row
    .col-sm-9     
      .panel.panel-smart 
        = bootstrap_form_for current_user, layout: :horizontal do |f|
          .row
            .col-md-6.col-sm-9.col-xs-12.pull-right
              .panel-heading
                %h4.panel-title 
                  שנה סיסמה
              .panel-body 
                .form-group 
                  %label.control-label{:class =>'col-sm-4.col-sm-push-8'}
                    סיסמה קודמת:
                  .col-sm-8
                    = password_field_tag :authentication, nil, class: 'form-control'
                = f.password_field :password, label: 'סיסמה חדשה:',label_col: "col-sm-4.col-sm-push-8", control_col: "col-sm-8"
                = f.password_field :password_confirmation, label: "אימות סיסמה:" ,label_col: "col-sm-4.col-sm-push-8", control_col: "col-sm-8"
 
                = f.submit 'שנה סיסמה', class: 'btn btn-update'
    .col-sm-3
      = render 'user_menu'