.product-info-box
  %h3.heading 
    מוצרים נבחרים
.row 
  .col-sm-4.col-md-3.col-xs-12.pull-right
    = link_to Product.find_by(name: 'שמן זית') do
      .home-page-product-links
        .row
          .col-md-7.col-sm-7.col-xs-7
            .title
              שמן זית מעולה
            .price
              = display_price(25)
              %span
                250מ"ל                 
            .text
              שמן זית בכבישה קרה  
          .col-md-5.col-sm-5.col-xs-5
            %img.img-responsive{:alt => "צמחי מרפא", :src => "images/oliveoil.jpg"}/
  .col-md-3.col-sm-4.col-xs-12.pull-right
    = link_to Product.find_by(name: 'מי כסף קולואידים') do
      .home-page-product-links
        .row
          .col-md-7.col-sm-7.col-xs-7
            .title
              מי כסף קלואידים    
            .price
              = display_price(40)
              %span
                100מ"ל              
            .text
              אנטיביוטיקה סלקטיבית ידועה משחר ההיסטוריה
          .col-md-5.col-sm-5.col-xs-5
            %img.img-responsive{:alt => "צמחי מרפא", :src => "images/silverwater1.jpg"}/
  .col-sm-4.col-md-3.col-xs-12.pull-right
    = link_to Product.find_by(name: 'ריבת אתרוגים') do
      .home-page-product-links
        .row
          .col-md-7.col-sm-7.col-xs-7
            .title
              ריבת אתרוגים
            .price
              = display_price(54)
              %span
                350גרם     
            .text
              המתנה הטובה ביותר לנשים בהריון עתירת מינרלים
          .col-md-5.col-sm-5.col-xs-5
            %img.img-responsive{:alt => "צמחי מרפא", :src => "images/etrog.jpg"}/
  .col-sm-4.col-md-3.col-xs-12.pull-right
    = link_to Product.find_by(name: 'טחינה') do
      .home-page-product-links
        .row
          .col-md-7.col-sm-7.col-xs-7
            .title
              טחינה אתיופית     
            .price
              = display_price(20)
              %span
                380גרם 
            .text
              טחינה בכבישה קרה ובאיכות מעולה
          .col-md-5.col-sm-5.col-xs-5
            %img.img-responsive{:alt => "צמחי מרפא", :src => "images/tahini.jpg"}/
  .col-sm-4.col-md-3.col-xs-12.pull-right
    = link_to Category.find_by(name: 'שמנים בטעמים') do
      .home-page-product-links
        .row
          .col-md-7.col-sm-7.col-xs-7
            .title
              שמן זית בטעמים
            .price
              = display_price(40)
              %span
                250מ"ל 
            .text
              הפתרון המושלם לתיבול בלי לאבד את הארומה
          .col-md-5.col-sm-5.col-xs-5
            %img.img-responsive{:alt => "צמחי מרפא", :src => "images/oliveoilfamily.jpg"}/  
  .col-sm-4.col-md-3.col-xs-12.pull-right
    = link_to Product.find_by(name: 'ממרח קצח') do
      .home-page-product-links
        .row
          .col-md-7.col-sm-7.col-xs-7
            .title
              ממרח קצח טהור     
            .price
              = display_price(25)
              %span
                182גרם 
            .text
              מקצח מלא ללא שום תוספות בכבישה קרה באבני רחיים
          .col-md-5.col-sm-5.col-xs-5
            %img.img-responsive{:alt => "צמחי מרפא", :src => "images/wholecummin.jpg"}/
  .col-sm-4.col-md-3.col-xs-12.pull-right
    = link_to Product.find_by(name: 'אלכוהול רימונים') do
      .home-page-product-links
        .row
          .col-md-7.col-sm-7.col-xs-7
            .title
              אלכוהול רימונים    
            .price
              = display_price(80)
              %span
                500מ"ל 
            .text
              אלכוהול איכותי ביותר מזוקק בוואקום מיין רימונים
          .col-md-5.col-sm-5.col-xs-5
            %img.img-responsive{:alt => "צמחי מרפא", :src => "images/pomegranate.jpg"}/
  .col-sm-4.col-md-3.col-xs-12.pull-right
    = link_to Product.find_by(name: 'שמן שקדים') do
      .home-page-product-links
        .row
          .col-md-7.col-sm-7.col-xs-7
            .title
              שמן משקדים 
            .price
              = display_price(31)
              %span
                100מ"ל 
            .text
              איכות המעולה כבישה קרה, משקדים הגדלים בארץ ישראל
          .col-md-5.col-sm-5.col-xs-5
            %img.img-responsive{:alt => "צמחי מרפא", :src => "images/almondoil.jpg"}/
            