- content_for :head do
  %meta{:content => "בעשבי ארץ ישראל ניתן למצוא שמנים אתריים באיכות גבוההת, מוצרי קוסמטיקה מין הטבע וכמו כן מוצרי מזון באיכות הגבוהה ביותר ובמחירים שווים לכם נפש. וכן מידע מפורט על צמחי המרפא בארץ ישראל ותכונותיהם הרפואיות.", :name => "description"}/
.row    
  .col-md-12.no-padding
    / Slider Section Starts
    .slider
      #main-carousel.carousel.slide{"data-ride" => "carousel"}
        / Wrapper For Slides Starts
        .carousel-inner
          .item.active
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide1-img.jpg"}/
            .slider-content-div
              מקורות מידע המתבססים על מסורת ארוכת שנים של הרמב"ם. 
          .item
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide2-img.jpg"}/
            .slider-content-div
              = link_to medicinal_herbs_path do
                מידע מקיף ושימושי על צמחי המרפא של ארץ ישראל.
          .item
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide3-img.jpg"}/  
            .slider-content-div
              = link_to hydrosol_path do
                הידרוסולים המיוצרים במפעלינו מופקים מחומר צמחי באיכות המשובחת ביותר.              
          .item
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide4-img.jpg"}/
            .slider-content-div
              = link_to essential_oils_path do
                שמנים אתריים טהורים ברמה גבוהה ועל טהרת צמחי ארץ ישראל.. 
          .item
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide5-img.jpg"}/ 
            .slider-content-div
              = link_to category_path(category('מזון רפואי')) do
                מוצרי מזון בריאות באיכות מעולה הנבדקים בקפידה       
        / Wrapper For Slides Ends
        / Controls Starts
        %a.left.carousel-control{"data-slide" => "prev", :href => "#main-carousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", :href => "#main-carousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right
    / Slider Section Ends
%br  
.row 
  .col-md-4.col-sm-5.no-padding
    = link_to recipes_path do
      %img.img-responsive{:alt => "Recipe", :src => "images/reciepes.jpg"}/   
      .adds-content-div
        קבל עצה מהסבתא! 
      .adds-content-div-small
        תרופות סבתא ומרשמים עתיקים..  
  .col-md-8.col-sm-7
    .information-page-content
      .header
        עשבי ארץ ישראל - בית הספר לרפואת העשבים 
      %h3
        אנו בעשבי ארץ ישראל מאמינים בכוחם של הצמחים והמינרלים בכדור הארץ לתת מזור לתחלואי האדם ולרומם את רוחו.
      %h3
        כל המרשמים, צמחי המרפא והמינרלים אצלנו עברו זיהוי ודאי על פי תורת הרמב"ם וחכמי העולם העתיק.
%br
.row 
  .col-sm-4.col-xs-12.pull-right
    = link_to Category.find_by(name: 'שמנים בטעמים') do
      .home-page-product-links
        %img.img-responsive{:alt => "Slider", :src => "images/oliveoilfamily.jpg"}/
  .col-sm-4.col-xs-12.pull-right
    = link_to Product.find_by(name: 'מי כסף קולואידים') do
      .home-page-product-links
        %img.img-responsive{:alt => "Slider", :src => "images/silverwater1.jpg"}/  
  .col-sm-4.col-xs-12.pull-right
    = link_to Product.find_by(name: 'ריבת אתרוגים') do
      .home-page-product-links
        %img.img-responsive{:alt => "Slider", :src => "images/etrog.jpg"}/
%br
.row 
  - @categories.each do |category|
    .col-md-3.col-sm-3.col-xs-12.pull-right.home-page-category-links
      = link_to category do
        .home-page-category-links-img
          %img.img-responsive{:alt => "Slider", :src => category.image}/
        .home-page-category-title
          = category.name  
