.panel.panel-smart
  .panel-heading
    %h3.panel-title
      = @product.new_record? ? 'הוסף מוצר חדש לאתר' : '  עדכן את הפרטים של המוצר'
  .panel-body    
    = bootstrap_form_for [:admin, @product], layout: :horizontal do |f|
      .sub-title
        שם ותמונה
      .col-sm-5.col-sm-offset-7.col-xs-12
        .admin-product-form-row
          = f.text_field :name, label: '*שם:', placeholder: 'שם המוצר', label_col: "col-sm-4.col-sm.push-8", control_col: "col-sm-8"
        .admin-product-form-row
          = f.text_field :english_name, label: '*שם באנגלית:', placeholder: 'שם המוצר', label_col: "col-sm-4.col-sm.push-8", control_col: "col-sm-8"  
        .admin-product-form-row
          = f.select :category_id,  options_for_select(Category.all.map {|category| [category.name, category.id]}, f.object.category_id),label: '*קטגוריה:', label_col: "col-sm-4.col-sm.push-8", control_col: "col-sm-8"
        .admin-product-form-row
          = f.file_field :image, label: '*תמונה:',label_col: "col-sm-4.col-sm.push-8", control_col: "col-sm-8"
      .sub-title
        מחיר
      .col-sm-5.col-sm-offset-7.col-xs-12  
        .admin-product-form-row
          = f.text_field :price, label: '*מחיר בשקלים:', placeholder: "המחיר בשקלים",label_col: "col-sm-5.col-sm.push-7", control_col: "col-sm-7" 
        .admin-product-form-row
          .row
            .col-xs-4
              = f.select :quantity_unit,  options_for_select(['מ"ל', 'גרם'], f.object.quantity_unit), hide_label: true
            .col-xs-8
              = f.text_field :quantity, label: '*כמות באריזה:',label_col: "col-sm-6.col-sm.push-6", control_col: "col-sm-6"  
      .sub-title
        מחירים נוספים (במידה ויש מספר אריזות)  
      .col-sm-4.col-sm-offset-2.col-xs-12  
        .admin-product-form-row
          = f.text_field :big_package_price, label: 'מחיר אריזה גדולה:', placeholder: "מחיר",label_col: "col-sm-8.col-sm.push-4", control_col: "col-sm-4" 
        .admin-product-form-row
          = f.text_field :big_package_quantity, label: 'כמות באריזה גדולה:', placeholder: "כמות",label_col: "col-sm-8.col-sm.push-4", control_col: "col-sm-4" 
      .col-sm-4.col-sm-offset-2.col-xs-12  
        .admin-product-form-row
          = f.text_field :medium_package_price, label: 'מחיר אריזה בינונית:', placeholder: "מחיר",label_col: "col-sm-8.col-sm.push-4", control_col: "col-sm-4" 
        .admin-product-form-row
          = f.text_field :medium_package_quantity, label: 'כמות באריזה בינונית:', placeholder: "כמות",label_col: "col-sm-8.col-sm.push-4", control_col: "col-sm-4"  
      .sub-title
        מלאי ואריזה        
      .col-sm-5.col-sm-offset-7.col-xs-12     
        .admin-product-form-row
          = f.text_field :stock, label: 'המספר במלאי:',label_col: "col-sm-5.col-sm.push-7", control_col: "col-sm-7"   
        .admin-product-form-row
          = f.text_field :package_weight, label: '*משקל החבילה:',label_col: "col-sm-5.col-sm.push-7", control_col: "col-sm-7" 
          * המשקל של החבילה לאחר שאורזים את המוצר עבור משלוח  
      .sub-title
        תאור המוצר ושימושו
      = f.text_area :short_description, label: '*תיאור קצר:', label_col: "col-sm-2.col-sm-push-10", control_col: "col-sm-10", rows: '1' 
      = f.text_area :long_description, label: '*תיאור ארוך:', label_col: "col-sm-2.col-sm-push-10", control_col: "col-sm-10", rows: '4'  
      = f.text_area :ingridience, label: '*רכיבים:', label_col: "col-sm-2.col-sm-push-10", control_col: "col-sm-10", rows: '3'
      = f.text_area :use_instructions, label: 'הוראות שימוש:', label_col: "col-sm-2.col-sm-push-10", control_col: "col-sm-10", rows: '3'  
      = f.text_area :warnings, label: 'אזהרות:', label_col: "col-sm-2.col-sm-push-10", control_col: "col-sm-10", rows: '3' 
      .sub-title
        ערכים תזונתיים (למלא עבור מזון בלבד)
        %br
      .col-sm-3.col-sm-offset-9.col-xs-9.col-xs-offset-3     
        .admin-product-form-row
          = f.text_field :energy, label: 'אנרגיה:',label_col: "col-xs-5.col-xs.push-7", control_col: "col-xs-7"
        .admin-product-form-row
          = f.text_field :carbohydrates, label: 'פחמימות:', label_col: "col-xs-5.col-xs.push-7", control_col: "col-xs-7"                 
        .admin-product-form-row
          = f.text_field :protein, label: 'חלבונים:', label_col: "col-xs-5.col-xs.push-7", control_col: "col-xs-7" 
        .admin-product-form-row
          = f.text_field :fat, label: 'שומן:', label_col: "col-xs-5.col-xs.push-7", control_col: "col-xs-7"
        .admin-product-form-row
          = f.text_field :saturated_fat, label: 'מתוכו רווי:', label_col: "col-xs-5.col-xs.push-7", control_col: "col-xs-7"
        .admin-product-form-row
          = f.text_field :cholesterol, label: 'כולסטרול:', label_col: "col-xs-5.col-xs.push-7", control_col: "col-xs-7"
        .admin-product-form-row
          = f.text_field :sodium, label: 'נתרן:',label_col: "col-xs-5.col-xs.push-7", control_col: "col-xs-7"
      = f.text_field :other_nutrients, label: 'ערכים נוספים:',label_col: "col-sm-2.col-sm.push-10", control_col: "col-sm-10", rows: '2'  
      .sub-title
        צמחי מרפא במוצר
        %br 
      = f.collection_check_boxes :medicinal_herb_ids, MedicinalHerb.all, :id, :name, hide_label: true, inline: true, control_col: "col-sm-12"      
      .col-sm-12.col-xs-12  
        = f.submit @product.new_record? ? 'הוסף מוצר' : 'עדכן פרטים', class: "btn btn-add" , id: 'product-form-submit'

