- content_for :head do
  %title עשבי ארץ ישראל - #{@category.name}
  %meta{:content => @category.description, :name => "description"}/
.row
  .col-sm-12
    / Product Info Starts
    .content-box
      .row.category-info
        / Left Starts
        .col-sm-3.images-block
          %img.img-responsive.thumbnail{:alt => @category.name, :src => @category.image }  
        .col-sm-9.product-details
          / Product Name Starts
          .header  
            = @category.name              
          / Category Name Ends
          %p 
            = simple_format(@category.description)
        / Category Info Ends
    / Related Products Starts
    .product-info-box
      .content-box
        %h3.heading 
          מוצרים ב#{@category.name}
        / Products Row Starts
        .row
          - @category.products.each do |product|
            .col-md-4.col-sm-6.col-xs-12.no-padding.pull-right
              = render 'products/product', :product => product
          - @category.categories.each do |category|  
            - category.products.each do |product|
              .col-md-4.col-sm-6.col-xs-12.no-padding.pull-right  
                = render 'products/product', :product => product            
        / Products Row Ends
    / Related Products Ends
    / Primary Content Ends
    / Sidebar Ends