.panel.panel-smart 
  .panel-heading
    %h4.panel-title 
      רשימת לקוחות
  .panel-body  
  .table-responsive.admin-table
    %table.table.table-bordered
      %thead
        %tr
          %td.text-center
            עדכון אחרון
          %td.text-center
            הזמנות
          %td.text-center{:width => "170px"}
            תפקיד
          %td.text-center
            דואר אלקטרוני  
          %td.text-center
            שם             
      %tbody
        - @users.each do |user|
          //=  form_tag  admin_user_path(user), method: :patch do
          %tr
            %td.text-center
              = display_date(user.updated_at)
            %td.text-center
              = link_to orders_admin_user_path(user)  do
                = user.orders.count
            %td.text-center    
              - if shop_owner?(current_user) && !shop_owner?(user)  
                = form_tag  admin_user_path(user), method: :patch do 
                  .row
                    .col-xs-8
                      = select_tag 'role', options_for_select([ "customer", "admin" ], user.role), class: 'admin-user-role-select' 
                    .col-xs-4
                      = button_tag nil, class: 'btn btn-update tool-tip', id: 'update'do
                        %i.fa.fa-refresh
              - else  
                = user.role
            %td.text-center
              = user.email 
            %td.text-center
              = user.name     