.product-col.fixed-hight-product-col.hidden-xs
  .row
    .col-md-8.col-sm-7.no-padding
      .caption
        %h4
          = link_to  essential_oil_path(essential_oil) do
            שמן #{essential_oil.name}        
        .row
          .col-sm-6.col-md-6.col-xs-7.pull-right.no-padding
            .volume-input
              = hidden_field_tag 'essential_oil_id', essential_oil.id
              = select_tag 'ml_essential_oil', options_for_select([['5ml','data-essential-oil-id' => essential_oil.id, 'data-essential-oil-price' => essential_oil.price_5ml], ['10ml','data-essential-oil-id' => essential_oil.id, 'data-essential-oil-price' => essential_oil.price_10ml], ['50ml','data-essential-oil-id' => essential_oil.id, 'data-essential-oil-price' => essential_oil.price_50ml]], '5ml') ,  class: 'form-control' 
          .col-sm-6.col-md-6.col-xs-2.pull-right.no-padding
            .price
              %span / 
              %span{:id => "essential_oil_#{essential_oil.id}_price"} 
                = display_price(essential_oil.price_5ml)        
        %br
        %p
          100% שמן אורגני טהור
      = form_tag shopping_cart_items_path, method: :post, class: "form-horizontal", id: "add-essential-oil-#{essential_oil.id}" do
        .form-group
          .row.qty-row 
            .col-xs-3.col-md-4.col-ms-4.pull-right.qty-input         
              = hidden_field_tag 'sellable_type', 'EssentialOil'     
              = hidden_field_tag 'sellable_id',  essential_oil.id
              = hidden_field_tag 'package_type' + essential_oil.id.to_s,  '5ml'
              = text_field_tag 'qty', 1, class: 'form-control', min: 1          
            .col-md-8.col-xs-7.col-sm-7.pull-right
              = button_tag nil, class: 'btn btn-cart', id: 'essential_oil-stock-submit' do
                הוסף לסל
                %img.shopping-bag{:alt => "Shopping Bag", :src => '/images/basket.png' } 
    .col-md-4.col-sm-5.col-xs-6.no-padding
      = link_to essential_oil_path(essential_oil) do
        .image
          %img.img-responsive{:alt => "essential_oil", :src => essential_oil.image}/
.product-col.fixed-hight-product-col.visible-xs
  .row
    .col-xs-4.pull-right
      = link_to essential_oil_path(essential_oil) do
        .image
          %img.img-responsive{:alt => "essential_oil", :src => essential_oil.image}/
    .col-xs-8.pull-right  
      .caption
        %h4
          = link_to essential_oil.name , essential_oil_path(essential_oil)                   
        .row
          .col-xs-7.pull-right.no-padding
            .volume-input
              = hidden_field_tag 'essential_oil_id', essential_oil.id
              = select_tag 'ml_essential_oil', options_for_select([['5ml','data-essential-oil-id' => essential_oil.id, 'data-essential-oil-price' => essential_oil.price_5ml], ['10ml','data-essential-oil-id' => essential_oil.id, 'data-essential-oil-price' => essential_oil.price_10ml], ['50ml','data-essential-oil-id' => essential_oil.id, 'data-essential-oil-price' => essential_oil.price_50ml]], '5ml') ,  class: 'form-control' 
          .col-xs-5.pull-right.no-padding
            .price
              %span / 
              %span{:id => "essential_oil_#{essential_oil.id}_price"} 
                = display_price(essential_oil.price_5ml)           
        %br
        %p
          100% שמן אורגני טהור 
  = form_tag shopping_cart_items_path, method: :post, class: "form-horizontal", id: "add-essential-oil-#{essential_oil.id}" do
    .form-group
      .row.qty-row 
        .col-xs-3.col-md-4.col-ms-4.pull-right.qty-input 
          = hidden_field_tag 'sellable_type', 'EssentialOil'     
          = hidden_field_tag 'sellable_id',  essential_oil.id
          = hidden_field_tag 'package_type' + essential_oil.id.to_s,  '5ml'
          = text_field_tag 'qty', 1, class: 'form-control', min: 1   
        .col-md-8.col-xs-7.col-sm-7.pull-right
          = button_tag nil, class: 'btn btn-cart', id: 'essential_oil-stock-submit' do
            הוסף לסל
            %img.shopping-bag{:alt => "Shopping Bag", :src => '/images/basket.png' }
  %br              