.product-col.fixed-hight-product-col
  .row
    .col-md-7.col-sm-7
      .caption
        %h4
          = link_to product.name , product_path(product)                   
        .row
          .col-xs-4.pull-right
            .price
              %span{:id => "product_#{product.id}_price"} 
                = display_price(product.price)    
          .col-xs-8.pull-right 
            - if product.multiple_quantities?
              .row
                .col-xs-11.pull-right
                  = hidden_field_tag 'product_id', product.id
                  = select_tag 'quantity_product', options_for_select([[display_quantity(product.quantity, product.quantity_unit), 'nurmal' ,'data-product-id' => product.id, 'data-product-price' => product.price], [display_quantity(product.medium_package_quantity, product.quantity_unit), 'medium','data-product-id' => product.id, 'data-product-price' => product.medium_package_price], [display_quantity(product.big_package_quantity, product.quantity_unit), 'big','data-product-id' => product.id, 'data-product-price' => product.big_package_price]], display_quantity(product.quantity, product.quantity_unit)) , class: 'form-control'  
            - else
              %span אריזה:
              %span  
                = display_quantity(product.quantity, product.quantity_unit)
        .description
          %p
            = product.short_description
      = form_tag shopping_cart_items_path, method: :post, class: "form-horizontal", id: "add-product-#{product.id}" do
        .form-group
          .row 
            .col-xs-6.col-xs-offset-2
              = button_tag nil, class: 'btn btn-cart', id: 'product-stock-submit' do
                הוסף לסל
                %img.shopping-bag{:alt => "Shopping Bag", :src => '/images/basket.png' } 
            .col-xs-4
              = hidden_field_tag 'sellable_type', 'Product'     
              = hidden_field_tag 'sellable_id', product.id
              = hidden_field_tag 'package_type' + product.id.to_s,  'nurmal'
              = text_field_tag 'qty', 1, class: 'form-control', min: 1
    .col-md-5.col-sm-5.col-xs-6.hidden-xs
      = link_to product_path(product) do
        .image
          %img.img-responsive{:alt => "product", :src => product.image}/