.product-col.fixed-hight-product-col.hidden-xs
  .row
    .col-md-8.col-sm-7.no-padding
      .caption
        %h4
          = link_to product.name , product_path(product)                   
        - if product.multiple_quantities?
          .row
            .col-sm-6.col-md-6.col-xs-7.pull-right.no-padding
              .volume-input
                = hidden_field_tag 'product_id', product.id
                = select_tag 'quantity_product', options_for_select([[display_quantity(product.quantity, product.quantity_unit), 'nurmal' ,'data-product-id' => product.id, 'data-product-price' => product.price], [display_quantity(product.medium_package_quantity, product.quantity_unit), 'medium','data-product-id' => product.id, 'data-product-price' => product.medium_package_price], product.big_package_quantity ? [display_quantity(product.big_package_quantity, product.quantity_unit), 'big','data-product-id' => product.id, 'data-product-price' => product.big_package_price] : nil], display_quantity(product.quantity, product.quantity_unit)) , class: 'form-control'  
            .col-sm-6.col-md-6.col-xs-2.pull-right.no-padding
              .price
                %span / 
                %span{:id => "product_#{product.id}_price"} 
                  = display_price(product.price)     
        - else
          .price
            %span  
              = display_quantity(product.quantity, product.quantity_unit)                       
            %span /
            %span{:id => "product_#{product.id}_price"}
              = display_price(product.price)         
        .description
          %p
            = product.short_description
      = form_tag shopping_cart_items_path, method: :post, class: "form-horizontal", id: "add-product-#{product.id}" do
        .form-group
          .row.qty-row 
            .col-xs-3.col-md-4.col-ms-4.pull-right.qty-input 
              = hidden_field_tag 'sellable_type', 'Product'     
              = hidden_field_tag 'sellable_id', product.id
              = hidden_field_tag 'package_type' + product.id.to_s,  'nurmal'
              = text_field_tag 'qty', 1, class: 'form-control', min: 1
            .col-md-8.col-xs-7.col-sm-7.pull-right
              = button_tag nil, class: 'btn btn-cart', id: 'product-stock-submit' do
                הוסף לסל
                %img.shopping-bag{:alt => "Shopping Bag", :src => '/images/basket.png' }     
    .col-md-4.col-sm-5.col-xs-6.no-padding
      = link_to product_path(product) do
        .image
          %img.img-responsive{:alt => "product", :src => product.image}/
.product-col.fixed-hight-product-col.visible-xs
  .row
    .col-xs-4.pull-right
      = link_to product_path(product) do
        .image
          %img.img-responsive{:alt => "product", :src => product.image}/
    .col-xs-8.pull-right  
      .caption
        %h4
          = link_to product.name , product_path(product)                   
        - if product.multiple_quantities?
          .row
            .col-xs-7.pull-right.no-padding
              .volume-input
                = hidden_field_tag 'product_id', product.id
                = select_tag 'quantity_product', options_for_select([[display_quantity(product.quantity, product.quantity_unit), 'nurmal' ,'data-product-id' => product.id, 'data-product-price' => product.price], [display_quantity(product.medium_package_quantity, product.quantity_unit), 'medium','data-product-id' => product.id, 'data-product-price' => product.medium_package_price], product.big_package_quantity ? [display_quantity(product.big_package_quantity, product.quantity_unit), 'big','data-product-id' => product.id, 'data-product-price' => product.big_package_price] : nil], display_quantity(product.quantity, product.quantity_unit)) , class: 'form-control'  
            .col-xs-5.pull-right.no-padding
              .price
                %span /
                %span{:id => "product_#{product.id}_price"} 
                  = display_price(product.price)     
        - else
          .price
            %span  
              = display_quantity(product.quantity, product.quantity_unit)                       
            %span /
            %span{:id => "product_#{product.id}_price"}
              = display_price(product.price)         
        .description
          %p
            = product.short_description 
  = form_tag shopping_cart_items_path, method: :post, class: "form-horizontal", id: "add-product-#{product.id}" do
    .form-group
      .row.qty-row 
        .col-xs-3.col-md-4.col-ms-4.pull-right.qty-input 
          = hidden_field_tag 'sellable_type', 'Product'     
          = hidden_field_tag 'sellable_id', product.id
          = hidden_field_tag 'package_type' + product.id.to_s,  'nurmal'
          = text_field_tag 'qty', 1, class: 'form-control', min: 1
        .col-md-8.col-xs-7.col-sm-7.pull-right
          = button_tag nil, class: 'btn btn-cart', id: 'product-stock-submit' do
            הוסף לסל
            %img.shopping-bag{:alt => "Shopping Bag", :src => '/images/basket.png' }
  %br                            