.product-col
  .row
    .col-md-7
      .caption
        %h4
          = link_to jewelry_path(jewelry) do
            #{jewelry.name}  
      %form.form-horizontal
        .form-group
          .row
            .col-xs-6
              = link_to admin_jewelry_path(jewelry), method: :delete, :data => {:confirm => 'חשוב טוב!!! האם אתה בטוח שברצונך למחוק טכשית זה?'}, class: 'btn btn-remove' do
                מחק
                %i.fa.fa-remove          
            .col-xs-6
              = link_to edit_admin_jewelry_path(jewelry), class: 'btn btn-update' do
                ערוך  
                %i.fa.fa-pencil-square-o             
    .col-md-5
      = link_to jewelry_path(jewelry) do
        .image
          %img.img-responsive{:alt => "jewelry", :src => jewelry.image}/